<div class="weakaura-view"  *ngIf="weakaura; else noWeakaura">
    <div class="profilepicture">
        <profilepicture profilePicture="{{ weakaura.profilePicture }}">
            <div>
                <div><h1 class="heading">{{ weakaura.name }}</h1></div>
                <input type="button" class="btn btn-primary btn-sm follow-button" value="Follow" (click)="follow()"/>
                <div><img src="assets/img/user.png" class="icon"/>Author: <a href="user/{{ weakaura.author }}">{{ weakaura.author }}</a></div>
                <div><img src="assets/img/clock.png" class="icon"/><b>Upload: </b>{{ time.difference(weakaura.uploadTime) }}</div>
                <div><img src="assets/img/clock.png" class="icon"/><b>Update: </b>{{ time.difference(weakaura.uploadTime) }}</div>
                <div><img src="assets/img/eye.png" class="icon"/>Views: 2</div>
            </div>
        </profilepicture>
    </div>
    <div class="content">
        <div class="description">
            <clickablepanel heading="Description" [contentVisible]="true">
                {{ weakaura.description }}
            </clickablepanel>
        </div>
        <div class="images">
            <clickablepanel heading="Images" [contentVisible]="true">
                <div class="image-grid">
                    <div *ngFor="let images of weakaura.images; let i = index" class="picture">
                        <img src="{{images}}" name="{{i}}" (click)="openImagePreview($event)"/>
                    </div>
                </div>
            </clickablepanel>
        </div>
        <div class="strings">
            <clickablepanel heading="Strings">
                <strings [weakaura]="weakaura"></strings>
            </clickablepanel>
        </div>
        <div class="code-viewer">
            <clickablepanel heading="Code Viewer">
            </clickablepanel>
        </div>
        <div class="comments">
            <clickablepanel heading="Comments" [contentVisible]="true">
                <comments [source]="weakaura"></comments>
            </clickablepanel>
        </div>
    </div>
    <imagepreview [imageURLs]="weakaura.images" #imagePreview></imagepreview>
</div>
<ng-template #noWeakaura><error code="404">That weakaura does not exist!</error></ng-template>