<div class="weakaura-view">
    <div class="profilepicture">
        <profilepicture profilePicture="{{ weakaura.profilePicture }}">
        </profilepicture>
    </div>
    <div class="content">
        <div class="titlebar">
            <titlebar [weakaura]="weakaura"></titlebar>
        </div>
        <div class="description">
            <clickablepanel heading="Description">
                {{ weakaura.description }}
            </clickablepanel>
        </div>
        <div class="images">
            <clickablepanel heading="Images">
                <div class="image-grid">
                    <div *ngFor="let images of weakaura.images" class="picture">
                        <img src="{{images}}" />
                    </div>
                </div>
            </clickablepanel>
        </div>
        <div class="strings">
            <clickablepanel heading="Strings">
                <strings [weakaura]="weakaura"></strings>
            </clickablepanel>
        </div>
        <div class="code-viewer">
            <clickablepanel heading="Code Viewer">
            </clickablepanel>
        </div>
        <div class="comments">
            <clickablepanel heading="Comments">
            </clickablepanel>
        </div>
    </div>
</div>