<div class="user-view">
    <div class="profilepicture">
        <profilepicture profilePicture="{{ user.profilePicture }}">
        </profilepicture>
    </div>
    <div class="content">
        <div class="titlebar">
            {{ user.name }}
        </div>
        <div class="description">
            <clickablepanel heading="Description">
                {{ user.description }}
            </clickablepanel>
        </div>
        <div class="weakauras">
            <clickablepanel heading="Weakauras">
                <div class="weakaura-grid">
                    <div *ngFor="let weakaura of weakauras" class="weakaura">
                        <div class="picture">
                            <a href="/weakaura/{{ weakaura.hash }}"><img src="{{weakaura.profilePicture}}" /></a>
                        </div>
                        <div class="title">
                            <a href="/weakaura/{{ weakaura.hash }}">{{ weakaura.name }}</a>
                        </div>
                        <div class="weakaura-date">
                            {{ weakaura.uploadTime }}
                        </div>
                    </div>
                </div>
            </clickablepanel>
        </div>
    </div>
</div>