<div class="image-upload">
    <div class="image-grid">
        <div *ngFor="let image of uploads">
            <img class="image-preview" [src]="'/backend/' + image.url" />
        </div>
    </div>
    <input *ngIf="multiple==false" (change)="filesChanged($event)" accept="image/x-png,image/gif,image/jpeg" class="file-input"
        id="file" type="file" name="file[]" />
    <input *ngIf="multiple==true" (change)="filesChanged($event)" accept="image/x-png,image/gif,image/jpeg" class="file-input"
        id="file" type="file" name="file[]" multiple />
    <div class="upload-square">
        <label class="upload" for="file"><span class="glyphicon glyphicon-open upload-icon" aria-hidden="true"></span>{{ caption }}</label>
    </div>
</div>