.searchview {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left content right"
}

.content {
    grid-area: content;
}

.filter {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 5px;
    grid-template-areas: "left right"
}

