<div class="searchview">
    <div class="content">
        <clickablepanel heading="Filter" [contentVisible]="true" #filterPanel>
            <div class="filter">
                <div class="name-title">
                    Name:
                </div>
                <div class="name-content">
                    <input class="form-element" type="text" [(ngModel)]="name">
                </div>
                <div class="author-title">
                    Author:
                </div>
                <div class="author-content">
                    <input class="form-element" type="text" [(ngModel)]="author">
                </div>
                <div class="categories-title">
                    Categories:
                </div>
                <div class="categories-content">
                    <categories (notify)="categoriesChanged($event)"></categories>
                </div>
                <div></div>
                <div class="search">
                    <input class="btn btn-primary btn-sm" type="submit" value="Search" (click)="searchSubmit()" />
                </div>
            </div>
        </clickablepanel>
        <clickablepanel heading="Results" [contentVisible]="false" #resultPanel>
            <table class="table">
                <tr *ngFor="let weakaura of searchResult">
                    <td>
                        <div class="weakaura-grid">
                            <div class="weakaura-picture">
                                <div class="picture-container">
                                    <img src="{{ weakaura.profilePicture }}" class="picture" />
                                </div>
                            </div>

                            <div class="weakaura-name">

                                <a href="weakaura/{{ weakaura.hash }}">{{ weakaura.name }}</a>
                            </div>

                            <div class="weakaura-meta">
                                <img src="assets/img/user.png" class="icon" /><b>Author: </b><a href="user/{{ weakaura.author }}">{{ weakaura.author }}</a>
                                <img src="assets/img/clock.png" class="icon" /><b>Upload: </b>{{ weakaura.uploadTime }}
                                <img src="assets/img/clock.png" class="icon" /><b>Update: </b>{{ weakaura.uploadTime }}
                            </div>

                            <div class="weakaura-description">
                                {{ weakaura.description }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </clickablepanel>
    </div>
</div>