.searchview {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left content right"
}

.content {
    grid-area: content;
}

.filter {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 5px;
    grid-template-areas: "left right"
}

.table{

}

.picture {
    width: 100%;
    vertical-align: middle;
}

.weakaura-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 30px 25px 100px;
    grid-template-areas: "image name"
    "image meta"
    "image description";
}

.weakaura-picture {
    grid-area: image;
    margin-right: 10px;
}

.weakaura-name {
    grid-area: name;
    font-size: 22px;
}

.weawkaura-meta {
    grid-area: meta;
}

.weakaura-description {
    grid-area: description;
}