<div class="searchview">
    <div class="content">
        <clickablepanel heading="Filter" [contentVisible]="true" #filterPanel>
            <div class="filter">
                <div class="name-title">
                    Name:
                </div>
                <div class="name-content">
                    <input class="form-element" type="textbox" [(ngModel)]="name">
                </div>
                <div class="author-title">
                    Author:
                </div>
                <div class="author-content">
                    <input class="form-element" type="textbox" [(ngModel)]="author">
                </div>
                <div class="categories-title">
                    Categories:
                </div>
                <div class="categories-content">
                    <categories (notify)="categoriesChanged($event)"></categories>
                </div>
                <div></div>
                <div class="search">
                    <input class="btn btn-primary btn-sm" type="submit" value="Search" (click)="searchSubmit()" />
                </div>
            </div>
        </clickablepanel>
        <clickablepanel heading="Results" [contentVisible]="true" #resultPanel>
            <table>
                <tr *ngFor="let weakaura of searchResult">
                    <td><img src= "{{weakaura.profilePicture}}"></td>
                    <td>{{weakaura.name}} </td>
                    <td>{{weakaura.author}}</td>
                    <td>{{weakaura.uploadTime}}</td>
                    
                </tr>
            </table>
        </clickablepanel>
    </div>
</div>