.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "latestWeakauras mostPopularWeakauras bestRatedWeakauras"
    "news news notifications";
    grid-gap: 5px;
    height: 99%;
}

.latestWeakauras {
    grid-area: latestWeakauras;
}

.bestRatedWeakauras {
    grid-area: bestRatedWeakauras;
}

.mostPopularWeakauras {
    grid-area: mostPopularWeakauras;
}

.news {
    grid-area: news;
}

.notifications {
    grid-area: notifications;
}