<div class="news">
    <box heading="News">
        <div class="news-content" *ngIf="news">
            <div class="news-entry" *ngFor="let newsEntry of news">
                <div class="news-title">
                    <a href="/news/{{ newsEntry.title }}">{{ newsEntry.title }}</a>
                </div>
                <div class="news-time">
                    {{ newsEntry.uploadTime }}
                </div>
                <div class="news-image">
                    <img src="{{ newsEntry.imageURL }}" />
                </div>
                <div class="news-content">
                    {{ newsEntry.content }}
                </div>
            </div>
        </div>
    </box>
</div>