.comments {
    text-align: center;
    padding: 5px;
}

.textarea {
    width: 100%;
    border-color: #33AFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-top: 5px;
    height: 25px;
    overflow: hidden;
    resize: none;
}

.textarea:focus {
    outline: none;
}

.send-button {
  margin-top: 5px;
}

@media (min-width: 1080px) {
    .comment {
        display: grid;
        grid-template-columns: 140px 4fr;
        grid-template-rows: 20px auto;
        grid-template-areas: "profilePicture title"
        "profilePicture comment";
        grid-gap: 5px;
        margin-bottom: 15px;
    }

    .comment-profile-picture {
        grid-area: profilePicture;
    }
}

@media (max-width: 1080px) {
    .comment {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "title"
        "comment";
        grid-gap: 5px;
        margin-bottom: 10px;
    }

    .comment-profile-picture {
        visibility: hidden;
         display: none;
    }
}


.comment-profile-picture > img {
    width: 100%;
}

.comment-title {
    grid-area: title;
    text-align: left;
    font-size: 16px;
}

.comment-content {
    grid-area: comment;
    text-align: left;
}

.comments-box {
    margin-top: 5px;
}

.timestamp {
    color: gray;
    font-size: 14px;
}